<form class ='search_bar' id="search-form" action="/submit" method="GET">
  <label>Restaurant Search</label>
  <input id="search" type="text" name="restaurant_search">

  <button type="submit">Submit</button>
</form>
<div id="search-results"></div>
